.brand-logo {
  max-width: 200px;

}



.navbar-brand {
  padding: 10px;
 // padding-left: 25px;
}


    .navbar-nav>.open>a,
     .navbar-nav>.open>a:focus,
     .navbar-nav>.open>a:hover {
        background: rgba(255, 255, 255, 0);
         color: black;
    }

    .navbar-nav>li>a{
      color: black;
        line-height: 20px;
        font-weight: 500;
        letter-spacing: 0.04em;
      font-size: 1.3em;
      font-family: minion-pro-caption, serif;
      font-weight: 400;
      font-style: italic;
        @media(min-width:993px){

        }

    }
    .navbar-nav .current-menu-item a{

        color: black;
        font-weight: 400;
    }



    .navbar-nav .open .dropdown-menu>.active>a,
    .navbar-nav .open .dropdown-menu>.active>a:focus,
    .navbar-nav .open .dropdown-menu>.active>a:hover{
        background: rgba(255, 255, 255, 0);
        color: $brand-primary;
    }

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: $brand-primary;
}

.navbar-default .navbar-toggle {
  border-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: rgba(255, 255, 255, 0);
}

.navbar-default .navbar-nav>li>a, .navbar-default {
  color: black;
}
